<% include ../partials/header %>

<form action="/login" method="post" class="form">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button>Login</button>
  
</form>
<% include ../partials/footer %>
