<% include ../partials/header %>

<form action="/additem" id="addItem" method="post" class="form">
  <input type="text" name="title" placeholder="Title">
  <textarea id="description" name="description" form="addItem" placeholder="Description"></textarea>
  <input type="text" name="price" placeholder="Price">
  <input type="text" name="pictureURL" placeholder="Picture URL">
  <input type="text" name="downloadURL" placeholder="Download URL">

  <button>Add</button>

</form>


<hr>

<% for(var i = 0; i < items.length; i++) {  %>
  <% var item = items[i]  %>

  <div><%= item.title %></div>
    <div>$<%= item.cost %></div>
    <a href="/edit/<%= item.id  %>">Edit</a>
    <a href="/removeitem/<%= item.id  %>">Delete</a>

    <hr>
    <% }  %>


<% include ../partials/footer %>